ul {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
  color: #0080FF;
}

body {
  /* Location of the image */
  background-image: url(/www/img/2.jpg);
  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;
  
  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */
}

.container {
    /*display: flex;*/
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 20em;
    border-radius: 5px;
    /*border: 2px solid grey;*/
    top: 50%;
    transform: translate(0, 50%);
}

/* Стили для смены пароля */
#password_new, #password_old {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 10em;
  height: 1.4em;
  font-size: 15px;
  font-family: 'Comfortaa', cursive;
}

input#change {
  cursor: pointer;
  /* margin-top: 5px; */
  font-size: 15px;
  /* margin-top: 5px; */
  border-radius: 4px;
  font-family: 'Comfortaa', cursive;
}


/* Стили для опроса
#opros {
   display: none;
}

#hd-1 {
  display: none; 
}

.hide + label ~ #opros{
    display: none;
}

оформляем текст label
.hide + label {
    border-bottom: 1px dashed black;
    padding: 0;
    color: black;
    cursor: pointer;
    display: inline-block; 
}
вид текста label при активном переключателе
.hide:checked + label {
    color: red;
    border-bottom: 0;
}
когда чекбокс активен показываем блоки с содержанием
.hide:checked + label + #opros {
    display: 
block; 
    -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
    -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
    box-shadow: inset 3px 3px 10px #7d8e8f;
    padding: 10px; 
}
*/

/* Отображение возле h4 имени и эл.почты*/
.info {
  display: inline;
}

p {
  display:inline-block;
}

#subscribe {
  display: inline;
}

#checkbox_cab {
  transform:scale(1.1);
  opacity:1.1;
  cursor:pointer;
  }


/* For mobile devices */
@media only screen and (max-width: 767px) {
  body {
    /* to improve page load speed on mobile internet connections */
    background-image: url(/www/img/2_mobile.jpg);
  }
}

@media screen and (max-width: 600px) 
{
  .child
    {
       max-width: 100%;
    }
}
.footer {
  text-align: center;
  z-index: 10;
  position: relative;
  transform: translate(0, 40em);
}
.footer a {
 color: #3d5c5c;
 cursor: pointer;
 text-decoration: none;
 outline: none;
}
