ul {
  list-style: none;
}

body {
  /* Location of the image */
  background-image: url(/www/img/3.jpg);
  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;
  
  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */
}

/* Таблица именинников */

/* чтобы ширина ячеек шапки равнялась ширине ячеек контента таблицы 
(чтобы ширна ячейки не зависила от содержимого: table-layout: fixed*/
/*
#List {
  table-layout: fixed;
 }
*/


/*
#Head {
  table-layout: fixed;
 }
*/


img#delete_img {
  width: 13%;
  display: inherit;
  cursor: pointer;
}


/* Адаптивные стили для таблицы именников*/
#table_title {
  padding-bottom: 0.2em;
  font-size: 25px;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  width: 100%;
}
table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
table th,
table td {
  padding: .625em;
  text-align: center;
  border-right: 1px dashed #ccc;
}

@media screen and (max-width: 600px) {
  table thead {
    display: none;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: right;
  }
  table td:before {
    content: attr(aria-label);
    float: left;
  }
}