a {
  text-decoration: none;
  outline: none;
  color: #0080FF;

}

ul {
  list-style: none;
}

body {
  font-family: 'Comfortaa', cursive;
  /*line-height: 1.5;*/
  
  /* Location of the image */
  background-image: url(/www/img/3.jpg);
  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;
  
  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
  body {
    /* СДЕЛАТЬ ЭТО - СЖАТЬ РИСУНОК И СМЕНИТЬ ИМЯ! The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
    background-image: url(/www/img/3.jpg);
  }
}


@media screen and (max-width: 600px) 
{
  .child;
    {
       max-width: 100%;
    }
}


/* Центрирование 1 div по центру экрана */
.wrap {

}

#message_verify {
   
}

#message_verify p {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    /*margin-right: -50%; объяснение необходимости правила тут - https://www.w3.org/Style/Examples/007/center.ru.html */
    transform: translate(-50%, -50%); 
}
