h1, h2, h3 {
  margin: 0 0;
  padding: 0 0;
}

h1 {
  margin-top: 0.5em;
}

p {
  margin-top: 0;
  margin-bottom: 5px;
  padding-top: 0;
  padding-bottom: 5px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
  color: #0080FF;
}

body {
  font-family: 'Comfortaa', cursive;
  /*line-height: 1.5;*/
  
  /* Location of the image */
  background-image: url(/www/img/1.jpg);
  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;
  
  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */
}

#wrap {
    margin-left: 1.5%;
    margin-right: 1.5%;
    /* min-height: 100vh; */
    /* background: #c0ffee; */
}

#cont {
    /* position: absolute; */
    top: 20%;
    transform: translate(0, 3%);
    line-height: 1.8;
    /* min-height: 100vh; */
}

/* Благодарности */
.credits {
column-count: 2;
    column-gap: 20px;
    /* column-rule: 1px dotted #ccc; */
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -moz-column-rule: 1px dotted #ccc;
    -webkit-column-count: 2;
    -webkit-column-gap: 50px;
    /* -webkit-column-rule: 1px dotted #ccc; */
    text-align: justify;
    /* margin-left: 4em; */
    /* margin-right: 4em; */
    min-height: 105vh;
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
  body {
    /* Т.к. размер 1.jpg небольшой, он подключается и для мобильных
     * to improve page load speed on mobile internet connections */
    background-image: url(/www/img/1.jpg);
  }
}

@media screen and (min-width: 1024px) {
.credits {
       column-count: 2;
       -moz-column-count: 2;
       -webkit-column-count: 2;
}
}
  
@media screen and (max-width: 480px) {
.credits {
       column-count: 1;
       -moz-column-count: 1;
       -webkit-column-count: 1;
}
}
.footer {
  text-align: center;
  z-index: 10;
  position: relative; /*чтобы был перед div credits и мог быть кликаблен*/
}
.footer a {
 color: #3d5c5c;
 cursor: pointer;
 text-decoration: none;
 outline: none;
}
